@import "../../../../vars";

.link {
  color: $blackText;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 0 5px;
  transition: all 0.2s;
  height: 45px;
  margin: 10px auto;
  border-radius: 5px;
  position: relative;

  &:hover {
    background-color: rgba(#424242, 0.1);
    font-weight: bold;
  }

  i {

  }

  h2 {
    margin-left: 15px;
    font-size: 1em;
    font-weight: 500;
  }
}

.link_active {
  background-color: $panelColor;
  color: white;
  &:hover{
    background-color: $panelColor;
  }
}

@media (max-width: 1100px) {
  .link{
    padding: 5px 5px;
    h2 {
      font-size: 1.1em;
    }
  }
}