@import "src/vars";



.accountsContainer{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  transform: translateY(-30px);
}
