
.icon-list-nested:before { content: '\e800'; } /* '' */
.icon-target:before { content: '\e801'; } /* '' */
.icon-cd:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-chart-pie:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-clipboard:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-sun-filled:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */