@import "src/vars";

.shop{
  display: flex;
  flex-direction: column;
  height: 300px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-size: contain;
  background-size: 40%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: white;
  color: $black;
  &:hover{
    i{
        color: $panelDarkColor;
    }
    h2::before{
      width: 100%;
      left: 0;
    }
  }

  h2{
    font-weight: 500;
    font-size: 1.4em;
    position: relative;
    &::before{
      content: '';
      transition: all 0.3s;
      width: 0;
      height: 2px;
      background-color: $panelDarkColor;
      position: absolute;
      bottom: 0;
      left: 50%;
      box-shadow: 0 2px 50px 2px $panelDarkColor;
    }
  }
  i{
    transition: all 0.4s;
    padding: 30px 0;
    font-size: 2em;
    color: $black;
  }
}

//@keyframes rotationIcon {
//  from{
//  transform: rotateZ(0);
//}
//  to{
//    transform: rotateZ(180deg);
//  }
//}