@import "src/vars";

.header {

  height: 65px;
  background-color: $panelDarkColor;
  padding: 0 50px;
  box-shadow: 0 1px 5px rgba(50, 50, 50, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  color: white;
  cursor: pointer;
  transition: 0.3s all;
  &:hover{
    color: #ff9393;

  }
}

.subscribe{
  font-size: 1em;
  color: white;
  font-weight: 300;
}