@import "vars";

a {
  text-decoration: none;
  color: white;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.panelContainer{
  width: 95%;
  margin: 0 auto;
}

/* 1 - скроллбар */
::-webkit-scrollbar {
  width: 7px;
}
/* 2 - кнопка */
::-webkit-scrollbar-button {

}
/* 3 - трек */
::-webkit-scrollbar-track {

}
/* 4 - видимая часть трека */
::-webkit-scrollbar-track-piece {
}
/* 5 - ползунок */
::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: $mainColor;
}
/* 6 - уголок */
::-webkit-scrollbar-corner {
}
/* 7 - изменение размеров */
::-webkit-resizer {
}

::selection {
  background: rgba($mainColor, 0.6); /* Safari */
}

.returnBtn{
  position: absolute;
  top:10px;
  left: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 99999;
  font-size: 1.8em;
  color: $black;
  cursor: pointer;
  transition: 0.3s all;
  &:hover{
    color: $panelColor;
  }
}


@media (max-width: 900px) {
  .container{
    width: 100%;
  }
}